<div
  class="bg-[#0d1724] text-white flex sm:flex-row flex-col py-[60px] sm:px-[80px] px-[10px]"
>
  <div class="p-4 sm:w-[30%] w-[100%]">
    <p class="text-2xl font-semibold pb-4 text-[#e23030]">Logo</p>
    <div class="grid grid-cols-2 gap-6 mb-2">
      <p>Tel:</p>
      <p>+91 6297050564</p>
    </div>
    <div class="grid grid-cols-2 gap-6 mb-2">
      <p>Email:</p>
      <p>info@example.com</p>
    </div>
    <div class="grid grid-cols-2 gap-6 mb-2">
      <p>Location:</p>
      <p>256, Resort Street, New York Blue Beach, 8974</p>
    </div>
  </div>
  <div class="p-4 sm:pl-[50px] pl-4">
    <p class="text-2xl font-semibold pb-4">Ouick links</p>
    <div class="flex flex-col items-start space-y-6">
      <a href="">About Us</a>
      <a href="">Boutique Apartment</a>
      <a href="">Jungle Safari Resort</a>
      <a href="">Mountain Chalet</a>
    </div>
  </div>
  <div class="sm:flex-1 p-4 pt-6 sm:pt-4">
    <div class="sm:w-1/2 mx-auto">
      <p class="sm:text-2xl text-xl font-semibold pb-8">
        Sign up for our newsletter to receive special offers, news and events.
      </p>
      <div
        style="border: 1px solid #cdcdcd"
        class="relative sm:w-full w-[90%] mx-auto sm:mx-0 flex items-center"
      >
        <input
          class="email_newsletter_input"
          type="text"
          placeholder="Enter Your Email"
        />
        <p class="text-[#d3d3d3] px-4">></p>
      </div>
    </div>
  </div>
</div>
