<div class="z-50 sticky top-0 left-0 w-screen">
  <div
    class="bg-[#e73a3a] text-white flex items-center justify-center py-3 space-x-4"
  >
    <p class="text-[0.9rem] font-semibold">For any query whatsapp us</p>
    <p class="text-[0.9rem] font-semibold">+916297050564</p>
  </div>
  <div
    class="bg-white text-[#4d4d4d] flex items-center space-x-2 justify-between px-[20px] sm:px-[100px] py-[22px]"
  >
    <a href="/">
      <div
        class="w-[40px] h-[40px] bg-cover bg-center"
        style="background-image: url(images/logo.png)"
      ></div>
    </a>

    <div class="items-center space-x-6 sm:flex hidden">
      <a href="/">Home</a>
      <a href="/rooms">Rooms</a>
      <a href="/">Events</a>
      <a href="/">Waterpark</a>
      <a href="/blog">Blogs</a>
    </div>
    <div class="flex items-center space-x-4 px-4">
      <a
        href="/contact"
        class="px-4 py-2 text-[10px] sm:text-[1rem] bg-[#e33232] text-white rounded-md"
      >
        Contact Us
      </a>
      <button class="flex sm:hidden">
        <i
          class="fa fa-bars"
          style="cursor: pointer"
          id="menuIcon"
          aria-hidden="true"
        ></i>
      </button>
    </div>
  </div>
  <div
    style="display: none"
    class="bg-white text-[#757575] py-2 absolute bottom-0 left-0 right-0 translate-y-[100%] flex-col rounded-b-md"
    id="navItems"
  >
    <a href="/" class="text-center py-4">Home</a>
    <a href="/rooms" class="text-center py-4">Rooms</a>
    <a href="/" class="text-center py-4">Events</a>
    <a href="/" class="text-center py-4">Waterpark</a>
    <a href="/blog" class="text-center py-4">Blogs</a>
  </div>
</div>
<script>
  const menuBtn = document.getElementById("menuIcon");
  const menu = document.getElementById("navItems");
  menuBtn.onclick = () => {
    if (menu.style.display == "flex") {
      menu.style.display = "none";
    } else {
      menu.style.display = "flex";
    }
  };
</script>
