<div class="w-full overflow-hidden">
  <div class="relative h-[350px] rounded-md overflow-hidden">
    <img
      src="images/mark-champs-Id2IIl1jOB0-unsplash.jpg"
      class="image w-full h-full"
    />
    <div class="text-white absolute bottom-6 left-6">
      <p class="text-[2rem] font-semibold">Cozy Room</p>
      <p class="font-semibold">Price from $123 Night</p>
    </div>
  </div>
</div>
