<div
  class="h-[500px] bg-cover bg-center relative"
  style="background-image: url('images/contact_back.jpg')"
>
  <h1
    class="text-white text-[5rem] font-semibold absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"
  >
    Contact Us
  </h1>
</div>
<div
  class="-translate-y-[70px] px-[100px] py-[80px] relative w-[90%] flex bg-white text-[#535353] mx-auto rounded-[10px]"
>
  <div class="flex-1">
    <p class="decortive_heading">GET IN TOUCH</p>
    <h1 class="text-[2.5rem] font-semibold mt-6">
      Drop a message for any query
    </h1>
    <p class="mt-4">
      Our objective at Bluebell is to bring together our visitor's societies and
      spirits with our own, communicating enthusiasm and liberality in the food
      we share.
    </p>
    <form class="">
      <div class="grid grid-cols-2 gap-8 py-8">
        <input class="contact_input" type="text" placeholder="Your Name" />
        <input class="contact_input" type="text" placeholder="Your Email" />
        <input class="contact_input" type="text" placeholder="Phone Number" />
        <input class="contact_input" type="text" placeholder="Subject" />
        <textarea
          class="contact_input col-span-2 min-h-[200px] max-h-[200px]"
          placeholder="Write a Message"
        ></textarea>
      </div>

      <button
        class="mt-[30px] px-[20px] py-[9px] rounded-[2px] bg-[#db2121] text-white font-semibold"
      >
        SEND A MESSAGE
      </button>
    </form>
  </div>
  <div class="px-[50px] mt-[100px]">
    <div>
      <p class="text-[2rem] text-[#1e1938] font-semibold">Panorama Resort</p>
      <div class="pl-4">
        <p>
          2624 Sampson Street,<br />
          Aurora, CO 80014
        </p>
        <a href="/">Panorama.com</a>
      </div>
    </div>
    <div class="mt-[30px]">
      <p class="text-[2rem] text-[#1e1938] font-semibold">
        Reception Phone No.
      </p>
      <div class="pl-4">
        <p>1800-456-7890</p>
        <p>Check In : 01:00 PM</p>
        <p>Check Out : 10:00 PM</p>
      </div>
    </div>
  </div>
</div>
