<div class="bg-white">
  <div class="w-[80%] mx-auto">
    <p class="text-[#ed3b3b] font-semibold text-[1.2rem]">
      Price From 3000Inr per Night
    </p>
    <p class="text-[2.5rem] text-[#212643] font-semibold">
      <%= room.roomType%>
    </p>
    <p class="pb-4">
      Our objective at Bluebell is to bring together our visitor’s societies and
      spirits with our own, communicating enthusiasm and liberality in the food
      we share. Official Chef and Owner Philippe Massoud superbly creates a
      blend of Lebanese, Levantine, Mediterranean motivated food blended in with
      New York mentality. Delightful herbs and flavors consolidate surfaces to
      pacify wide based palates.
    </p>
    <p>
      Official Chef and Owner Philippe Massoud superbly creates a blend of
      Lebanese, Levantine, Mediterranean motivated food blended in with New York
      mentality.
    </p>
    <section class="pb-12 mt-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">Amenties</p>
      <div class="grid grid-cols-3">
        <p class="py-1">Air conditioner</p>
        <p class="py-1">Ironing Board</p>
        <p class="py-1">Hair Dryer</p>
        <p class="py-1">Cable TV</p>
        <p class="py-1">Balcony or Terrace</p>
        <p class="py-1">King size bed</p>
        <p class="py-1">Swimming pool</p>
        <p class="py-1">Kettle Tea</p>
        <p class="py-1">Breakfast Included</p>
        <p class="py-1">High speed WiFi</p>
        <p class="py-1">Bathtub</p>
        <p class="py-1">Shower bathtub</p>
      </div>
    </section>
    <section class="pb-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">House Rules</p>
      <div class="grid grid-cols-2">
        <div>
          <p>Check In</p>
          <div class="flex flex-col">
            <p>Check-in from 9:00 AM – anytime</p>
            <p>Early check-in subject to availability</p>
            <p>Minimum check-in age – 18</p>
          </div>
        </div>
        <div>
          <p>Check Out</p>
          <div class="flex flex-col">
            <p>Check-out before noon</p>
            <p>Express check-out</p>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">
        Special check-in instructions
      </p>
      <p>
        Visitors will get an email 5 days before appearance with registration
        guidelines; front work area staff will welcome visitors on appearance
        For additional subtleties, kindly contact the property utilizing the
        data on the booking affirmation.
      </p>
    </section>
    <section class="pb-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">
        Children and extra beds
      </p>
      <p>
        Youngsters are welcome Kids stay free! Youngsters stay free when
        utilizing existing sheet material; kids may not be qualified for free
        breakfast Rollaway/additional beds are accessible for $ 40.0 each day
      </p>
    </section>
    <section class="pb-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">Pets</p>
      <p>Not Allowed</p>
    </section>
    <section class="pb-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">
        Fitness Medical, and Health
      </p>
      <p>
        Providing gym and fitness coach on demand. We provide general medicines
        in emergency also.
      </p>
    </section>
    <section class="pb-12">
      <p class="pb-4 text-3xl font-semibold text-[#212643]">Cancellation</p>
      <p>
        Youngsters are welcome Kids stay free! Youngsters stay free when
        utilizing existing sheet material; kids may not be qualified for free
        breakfast Rollaway/additional beds are accessible for $ 40.0 each day
      </p>
    </section>
  </div>
</div>
