<div class="bg-white px-12 py-6">
  <div class="">
    <p class="text-[#ea4545] text-[4rem] font-semibold">Rooms</p>
    <p class="">
      Our objective at Bluebell is to bring together our visitor's societies and
      spirits with our own, communicating enthusiasm and liberality in the food
      we share. Official Chef and Owner Philippe Massoud superbl.
    </p>
  </div>
  <div class="sm:grid sm:grid-cols-3 sm:gap-8 py-8">
    <% rooms.forEach( function(room){%> <%-
    include('components/roomCard',{room:room}) %> <%})%>
  </div>
</div>
